@using Newtonsoft.Json
@using System.IO

@functions {

    public class MenuItem
    {
        public string name;
        public string id;
        public string icon;
        public string url;
    }


    MenuItem[] itmemem = JsonConvert.DeserializeObject<MenuItem[]>(File.ReadAllText("menulinks.json"));
}


<div data-sticky-container>

    <div class="title-bar hide-for-medium" data-responsive-toggle="main-menu">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="grid-x hide-for-medium" id="main-menu">

        @foreach (var entry in itmemem)
        {
            <div class="large-3 cell">
                <a class="main-menu-mobile-text" href="@entry.url">
                    <span class="@entry.icon">
                    </span>
                    <span class="nav-entry-text">
                        @entry.name
                    </span>
                </a>
            </div>
        }
    </div>


    <div class="top-bar show-for-medium" data-sticky data-options="marginTop:0;" style="height: 3.5em; width: 100%;">
        <div class="top-bar-left show-for-large">
            <ul class="menu">
                <img src="/images/app_icons/cytopia_icon_iso.png" style="height: 2.5em;">
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">

                @foreach (var entry in itmemem)
                {
                    <li>
                        <a class="main-menu-mobile-text" href="@entry.url">
                            <span class="@entry.icon">
                            </span>
                            <span class="nav-entry-text">
                                @entry.name
                            </span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>